<% if current_user %>
  <h2><%= current_user.email %></h2>
  
   <%= image_tag(current_user.avatar_url.present? ? current_user.avatar_url : 'anonymous.png') %>

  <%= link_to "Edit Account", edit_user_registration_path %>
  <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>  
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Create Account", new_user_registration_path %>
<% end %>

<div id='chatapp'>
  <div id='rooms'>
    <div id='room-list'>
      <% @rooms.each do |room| %>
        <%= render room %>
      <% end %>
    </div>
    <%= render partial: 'form', locals: {room: Room.new(name: "Room #{Room.count + 1}")} %>
  </div>

  <div id='messages'>
    <%= turbo_frame_tag 'room-messages' do %>
      <div id='message-list'>
        <% @messages.each do |message| %>
          <%= render message %>
        <% end %>
      </div>
      <%= render partial: 'messages/form', locals: {message: Message.new(room: @room)} %>

      <%= turbo_stream_from @room %>
    <% end %>
  </div>
</div>